/** flappySungod.css **/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #111;
    margin: 0;
    padding: 0;
}

footer, header{
  background-color: #f7b5b5;
  color: #000;
}

header{
  padding: 5px;
  margin: 0;
}
header h1{
    margin: 20px 20px 20px 80px;
    display: inline-block;
}
header p{
  display: inline;
}

a{
  text-decoration: none;
  color: #487099;
}

#bodyContainer{
  width: 900px;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #111;
}
#leftColumn{
  float: left;
  width: 500px;
}

.paragraphHeader{
  text-decoration: underline;
  margin-bottom: 3px;
}

#leftColumn p{
  margin-top: 3px;
}
#profile_pic{
  width: 314px;
  height: 177px;
}

/******* Game Styles  ******/
#gameContainer{
  float: right;
	width: 360px;
	height:640px;
  margin: 8px;
	margin-right: auto;
	margin-left: auto;
  position: relative;
}
canvas{
	width: 360px;
	height: 640px;
	background: url(background.jpg) top left;
}
#spritesheet, #ground_texture{
	display: none;
}

#scoreboard{
  position: absolute;
  top: 80px;
  left: 175px;
}
#score{
  font-size: 40px;
  text-shadow: 4px 4px 6px #333;
  color: #FFF;
}
#highScoreBoard{
  position: absolute;
  bottom: 13px;
  right: 15px;
  font-size: 20px;
  color: #555;
}
#highScoreBoard p{
  margin: 0;
  padding: 0;
}
.textOverlay{
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/****** End Game Styles ******/

footer{
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: auto;
  position: absolute;
  bottom: 0;
  clear: both;
}